.container {
	width: 100%;
}

.center {
	padding: 60px 0;
}

.item-image {
	margin: 10px;
	width: 50vw;
	height: 50vw;
	border-radius: 15px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition: 0.5s;
	box-shadow: 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
	color: #555;
	vertical-align: top;
}

.item-info {
	line-height: 1.5;
	margin: 10px;
	width: 25vw;
	height: 700px;
	border-radius: 15px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	transition: 0.5s;
	box-shadow: 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
	color: #555;
}

@media (max-width: 1030px) {
	.item-image {
		width: 45vw;
		height: 55vw;
	}

	.item-info {
		width: 35vw;
		height: 700px;
	}
}

@media (max-width: 850px) {
	.item-image {
		width: 75vw;
		height: 95vw;
	}

	.item-info {
		width: 75vw;
		height: 700px;
	}
}

@media (max-width: 350px) {
	.item-info h1 {
		font-size: 26px !important;
	}

	.price-meaning {
		font-size: 18px !important;
	}

	.item-info p {
		font-size: 14px;
	}
}

.item-info h1 {
	margin: 10px;
	margin-bottom: 20px;
	color: black;
}

.item-info div {
	margin: 10px;
	margin-bottom: 20px;
	padding: 10px;
	text-align:left;
}

.price-meaning {
	font-size: 20px;
}

.availability button {
	width: 100%;
	height: 50px;
	color: #efefef;
	background-color: black;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: 0.5s;
	border: none;
}

.availability button:hover {
	background-color: #555;
}