@{
	ViewBag.Title = "Контакты";
}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" asp-href-include="~/css/HomeStyle/ContactStyleSheet.css" asp-append-version="true"/>
	</head>
	<body>
		<div class="container container-image">
			<div class="main-center">
				<div class="item">
					<div class="item-content">
						<h1>Как с нами связаться</h1>
						<p>Мы ответим на все ваши вопросы в кротчайшие сроки</p>
					</div>
				</div>
				<div class="item">
					<div class="item-content">
						<h1>Поддержка клиентов</h1>
						<p>+7 912 022 04 83</p>
					</div>
				</div>
				<div class="item">
					<div class="item-content">
						<h1>E-mail магазина</h1>
						<p>revolution.glb@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
