@{
	ViewBag.Title = "Доставка и оплата";
}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" asp-href-include="~/css/HomeStyle/DeliveryAndPaymentStyleSheet.css" asp-append-version="true"/>
	</head>
	<body>
		<div class="container">
			<div class="center">
				<div class="sections-name">
					<h1>Доставка и оплата</h1>
				</div>
				<div class="sections">
					<div class="del-item">
						<h2>Оплата на сайте</h2>
						<p>
							Оплатить покупки онлайн можно с помощью дебетовых и кредитных карт.
							Доставка осуществляется после 100% оплаты на сайте.
						</p>
					</div>
					<div class="del-item">
						<h2>Доставка по России</h2>
						<p>
							Заказы доставляются службой СДЭК до ближайшего к вам пункта самовывоза.
							Также возможна доставка почтой России если в вашем городе нет пункта выдачи СДЭКа.
							Стоимость доставки 300 рублей.
							После отправки посылки вам придет трек-номер, по которому вы сможете отследить статус вашего заказа.
						</p>
					</div>
					<div class="del-item">
						<h2>Возврат</h2>
						<p>
							Мы предоставляем Вам возможность осуществить возврат товара надлежащего качества в течение 14 дней со дня покупки, при условии, что товар не был в употреблении, сохранены его товарный вид и потребительские свойства, а так же пломбы и фабричные ярлыки.
						</p>
					</div>
				</div>
			</div>
		</div>
		@*<section class="section-100px">
			<div class="container">
				<div class="name">
					<h1>Доставка, оплата и возврат</h1>
				</div>
				<div class="subname">
					<h2>Оплата на сайте</h2>
					<p>
						Оплатить покупки онлайн можно с помощью дебетовых и кредитных карт.
						Доставка осуществляется после 100% оплаты на сайте.
					</p>
				</div>
				<div class="subname">
					<h2>Доставка по России</h2>
					<p>
						Заказы доставляются службой СДЭК до ближайшего к вам пункта самовывоза.
						Также возможна доставка почтой России если в вашем городе нет пункта выдачи СДЭКа.
						Стоимость доставки 300 рублей.
						После отправки посылки вам придет трек-номер, по которому вы сможете отследить статус вашего заказа.
					</p>
				</div>
				<div class="subname">
					<h2>Возврат</h2>
					<p>
						Мы предоставляем Вам возможность осуществить возврат товара надлежащего качества в течение 14 дней со дня покупки, при условии, что товар не был в употреблении, сохранены его товарный вид и потребительские свойства, а так же пломбы и фабричные ярлыки.
					</p>
				</div>
			</div>
		</section>*@
	</body>
</html>