@{
	ViewBag.Title = "Доставка и оплата";
}

<!DOCTYPE html>
<html>
	<body>
		<h1>Доставка, оплата и возврат</h1>
		<div>
			<h1>Оплата на сайте:</h1>
			<p>
				Полатить покупки онлайн можно с помощью дебетовых и кредитных карт.

				Доставка осуществляется после 100% оплаты на сайте.
			</p>
			<h1>Доставка по России:</h1>
			<p>
				Заказы доставляются службой СДЭК до ближайшего к вам пункта самовывоза.
				Также возможна доставка почтой России если в вашем городе нет пункта выдачи СДЭКа.
				Стоимость доставки 300 рублей.

				После отправки посылки вам придет трек-номер, по которому вы сможете отследить статус вашего заказа.
			</p>
			<h1>Возврат:</h1>
			<p>
				Мы предоставляем Вам возможность осуществить возврат товара надлежащего качества в течение 14 дней со дня покупки, при условии, что товар не был в употреблении, сохранены его товарный вид и потребительские свойства, а так же пломбы и фабричные ярлыки.
			</p>
		</div>
	</body>
</html>