@{
	ViewBag.Title = "Главная";
}

<!DOCTYPE html>
<html>
	<body>

		<div class="toppanel">
			<h1>Разделы магазина</h1>
			<h3>Выберите интересующую категорию товаров</h3>
		</div>
		<table class="categories">
			<tr>
				<td>
					<a href="~/Shop/TShirtPage">
						<img width="250" height="400" src="https://p-o-k.ru/upload/iblock/202/Salatovaya-detskaya-futbolka-pod-logotip.jpg"/>
					</a>
				</td>
				<td>
					<a href="~/Shop/LongsleevePage">
						<img width="250" height="400" src="https://brandpresent.ru/shop/project/1000/BP_02071102_3_tif_1000x1000.jpg"/>
					</a>
				</td>
				<td>
					<a href="~/Shop/HoodiePage">
						<img width="250" height="400" src="https://i.pinimg.com/736x/ea/64/84/ea6484d9e4fdf002339d661fcb077b48.jpg"/>
					</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="~/Shop/HeaddressPage">
						<img width="250" height="400" src="https://brandpresent.ru/shop/project/1000/BP_6521.44_1_tif_1000x1000.jpg"/>
					</a>
				</td>
				<td>
					<a href="~/Shop/PantAndShortPage">
						<img width="250" height="400" src="https://cdn1.ozone.ru/multimedia/1017217011.jpg"/>
					</a>
				</td>
				<td>
					<a href="~/Shop/ShopperPage">
						<img width="250" height="400" src="https://toomanygifts.ru/upload/iblock/62d/62d192d4eb82e0ddc1ba0c0336ce0524.jpg"/>
					</a>
				</td>
			</tr>
		</table>

	</body>
</html>