@{
	ViewBag.Title = "Личный кабинет";
}

<!DOCTYPE html>
<html>
	<body>
		<h2>Личный кабинет</h2>
		<button>Войти</button>
		<button>Зарегистрироваться</button>
		<a href='@Url.Action("AuthorizationPage", "Account")'>Войти</a>
		<a href='@Url.Action("RegistrationPage", "Account")'>Зарегистрироваться</a>
	</body>
</html>