@model RevolutionData.Models.Entities.Account
@{
	ViewBag.Title = "Личный кабинет";
}

<!DOCTYPE html>
<html>
	<body>
	@if (User.Identity.IsAuthenticated)
	{
		<div>
			<h2>Личный кабинет</h2>
			<p>@Model.UserName</p>
			<p>@Model.Email</p>
			<h3>Корзина</h3>
			<p>Ваша корзина пуста</p>
			<form method="post" asp-controller="Account" asp-action="Logout">
				<p>Есть другой аккаунт?</p>
				<input type="submit" value="Выход" />
			</form>
			<button onclick="document.location='@Url.Action("Index", "Admin")'">Адмнистрирование</button>
		</div>
		<div>
			<h2>Заказы</h2>
			<p>У вас пока нет заказов. Как только разместите заказ, он появится на этой странице.</p>
		</div>
	}
	</body>
</html>