@{
	ViewBag.Title = "Личный кабинет";
}

<!DOCTYPE html>
<html>
	<body>
		<h2>Личный кабинет</h2>
		<button>Войти</button>
		<button>Зарегистрироваться</button>
		<a href="~/Account/AuthorizationPage">Войти</a>
		<a href="~/Account/RegistrationPage">Зарегистрироваться</a>
	</body>
</html>