@{
	ViewBag.Title = "Авторизация";
}

<!DOCTYPE html>
<html>
	<body>
		<h2>Авторизация</h2>
		<div>
			<form>
				<label>Email</label>
				<input type="email" />

				<label>Пароль</label>
				<input type="password" />

				<button type="submit">Войти</button>
			</form>
		</div>
	</body>
</html>
