@{
	ViewBag.Title = "Регистрация";
}

<!DOCTYPE html>
<html>
	<body>
		<h2>Регистрация</h2>
		<div>
			<form>
				<label>Имя</label>
				<input />

				<label>Email</label>
				<input type="email"/>

				<label>Пароль</label>
				<input type="password" />

				<button type="submit">Зарегистрироваться</button>
			</form>
		</div>
	</body>
</html>
