@model RevolutionData.ViewModel.RegisterViewModel
@{
	ViewBag.Title = "Регистрация";
}

<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" asp-href-include="~/css/AccountStyle/RegistrationPageStyleSheet.css" asp-append-version="true"/>
	</head>
	<body>
        <div class="container">
            <div class="center">
                <div class="registration">
                    <h1>Регистрация</h1>
                    <form method="post" asp-controller="Account" asp-action="RegistrationPage">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="field">
                            @*<label asp-for="UserName"></label><br />*@
                            <input class="input-field" placeholder="Name" asp-for="UserName" />
                            <span asp-validation-for="UserName"></span>
                        </div>
                        <div class="field">
                            @*<label asp-for="Email"></label><br />*@
                            <input class="input-field" placeholder="Email" asp-for="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="field">
                            @*<label asp-for="Password"></label><br />*@
                            <input class="input-field" placeholder="Password" asp-for="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="field">
                            @*<label asp-for="PasswordConfirm"></label><br />*@
                            <input class="input-field" placeholder="Повторите Password" asp-for="PasswordConfirm" />
                            <span asp-validation-for="PasswordConfirm"></span>
                        </div>
                        <div class="btn">
                            <input type="submit" value="Регистрация" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
	</body>
</html>
